body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}


h1{
    font-size: 45px;
}

span{
    color: tomato;
}

.flexible-container{
    display: flex;
    margin-bottom: 150px;
    padding: 10px;
}

.home-page{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.half-width{
    width: 50%;
    padding-left: 5%;
}

.half-width img{
    width: 80%;
}

.linking-button{
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(salmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
}

footer{
    text-align: center;
}